@font-face {
  font-family: "pdark";
  src: url(files/fonts/pdark.ttf);
}
@font-face {
  font-family: "rektek";
  src: url(files/fonts/Rektec.otf);
}
@font-face {
  font-family: "printer";
  src: url(files/fonts/F25_Bank_Printer.ttf);
}
@font-face {
  font-family: "circo";
  //src: url(files/fonts/F25_Bank_Printer.ttf);
  src: url(files/fonts/modern_squared2.ttf);
}