/**
 * Structure
 */
$full-width: 100vw;
$full-height: 100vh;

$status-bar-height: 5vh;

$tempbox-width: 5vw;
$tempbox-height: ($full-height - $status-bar-height);

$manual-input-height: 5vh;

$main-screen-width: 60vw;
$main-screen-1-height: $full-height - ($status-bar-height + $manual-input-height);

$side-screen-container-width: (($full-width - $tempbox-width) - $main-screen-width);
$side-screen-container-height: ($full-height - $status-bar-height);

$side-screen-height: ($side-screen-container-height / 3);
