@charset "UTF-8";

@import "abstracts/variables";

@import "base/base";

@import "layout/status-bar";
@import "layout/side-screen";
@import "layout/main-screen-1";
@import "layout/main-screen-2";

@import "components/datetime";
@import "components/last-commands";
@import "components/listening-status";

.tempbox {
  position: absolute;
  top: $status-bar-height;
  left: 0;
  width: $tempbox-width;
  height: $tempbox-height;

  background: green;
  }



