@charset "UTF-8";

/**
 * General
 */
*,
*:before,
*:after {
  box-sizing: border-box;
  }

body {
  font-size: 20px;
  }

/**
 * Status bar and its elements
 */
.status-bar {
  background: rgba(255,0,0,0.15);
  }

/**
 * Last commands section
 */
.last-command-container {

  .last-command {
    &-list {
      padding: 1%;
      font-size: 50%;
    }
    
    &-item:first-child {
      color: green;
      background: white;
      font-size: 200%;
    }

    &-title {
      color: grey;
      }
    } // .last-command

  } // .last-command-container


/**
 * Current date + time display
 */
.datetime-display {}