.main-action-screen-2 {
  position: absolute;
  top: ($status-bar-height + $main-screen-1-height);
  left: $tempbox-width;
  width: $main-screen-width;
  height: $main-screen-2-height;
  
  @include base-screen-state;
  
  background: red;

  &:hover {
    opacity: 1;
    }
  }