@mixin base-screen-state {
  color: rgba(255,255,255,1);
  opacity: 0.75;
  transition: 0.25s;
  }

.main-action-screen-1 {
  position: absolute;
  top: $status-bar-height;
  left: $tempbox-width;
  width: $main-screen-width;
  height: $main-screen-1-height;
  overflow-y: auto;
  padding: 1%;
  @include base-screen-state;

  &:hover {
    opacity: 1;
    }
  }

.screen-title {
  font-family: "printer", monospace;
  padding: 0 1%;
  font-size: 14px;
  text-shadow: 0 0 10px white;
  background-image: linear-gradient(45deg, rgba(47,137,190,0.75) 95%, transparent 1px);
  color: white;
  border-bottom: 1px solid darken(#2F89BE, 10%);
  border-top-left-radius: 10px;
  }

.text-content {
  padding: 1%;
  font-family: "circo", "Calibri";
  font-size: 22px;
  letter-spacing: 1px;

  background-image: linear-gradient(-225deg, rgba(166,230,244,0.1) 95%, transparent 1px);
  border-bottom-left-radius: 10px;
  }

