.side-screen-container {
  position: absolute;
  top: $status-bar-height;
  left: ($tempbox-width + $main-screen-width);
  width: $side-screen-container-width;
  height: $side-screen-container-height;
  
  .side-screen {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: $side-screen-height;
    }
  
  .side-screen-1 {
    background: rgba(166,230,244,0.25);
    -webkit-clip-path: polygon(100% 0, 100% 15%, 95% 30%, 95% 70%, 100% 85%, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 15%, 95% 30%, 95% 70%, 100% 85%, 100% 100%, 0 100%, 0 0);
    }
  .side-screen-2 {
    background: rgba(166,230,244,0.15);
    -webkit-clip-path: polygon(100% 0, 100% 15%, 95% 30%, 95% 70%, 100% 85%, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 15%, 95% 30%, 95% 70%, 100% 85%, 100% 100%, 0 100%, 0 0);
    }
  .side-screen-3 {
    background: rgba(166,230,244,0.25);
    }
  } // .side-screen-container