/**
 * Structure
 */
@font-face {
  font-family: "pdark";
  src: url(files/fonts/pdark.ttf);
}

@font-face {
  font-family: "rektek";
  src: url(files/fonts/Rektec.otf);
}

@font-face {
  font-family: "printer";
  src: url(files/fonts/F25_Bank_Printer.ttf);
}

@font-face {
  font-family: "circo";
  src: url(files/fonts/modern_squared2.ttf);
}

/**
 * General layout rules + Overall structure
 */
/* line 4, C:/Git/ai/sass/base/_base.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 12, C:/Git/ai/sass/base/_base.scss */
body {
  width: 100vw;
  font-size: 20px;
  background-color: #061526;
}

/* line 21, C:/Git/ai/sass/base/_base.scss */
.container {
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

/* line 27, C:/Git/ai/sass/base/_base.scss */
#draggable2 {
  z-index: 99;
  width: 100%;
  padding: 0.5em;
  margin: 0 10px 10px 0;
  cursor: move;
  border: 1px solid transparent;
  background: transparent;
}

/* line 36, C:/Git/ai/sass/base/_base.scss */
#draggable2:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid blue;
}

/* line 1, C:/Git/ai/sass/base/_grid-bg.scss */
.grid-container {
  z-index: -50;
}

/* line 5, C:/Git/ai/sass/base/_grid-bg.scss */
.grid-col-container {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(10, calc(100% / 10));
}

/* line 15, C:/Git/ai/sass/base/_grid-bg.scss */
.grid-row-container {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-template-rows: repeat(10, calc(100% / 10));
}

/* line 27, C:/Git/ai/sass/base/_grid-bg.scss */
.grid-row {
  border: 1px dotted rgba(255, 255, 255, 0.045);
}

/* line 31, C:/Git/ai/sass/base/_grid-bg.scss */
.grid-title {
  position: absolute;
  width: 100vw;
  top: 33.33333vh;
  text-align: center;
  color: rgba(255, 255, 255, 0.05);
  font-family: "rektek", sans-serif;
  text-shadow: 0 0 100px rgba(255, 255, 255, 0.015);
  font-size: 1000%;
}

/**
 * Status bar and its elements
 */
/* line 4, C:/Git/ai/sass/layout/_status-bar.scss */
.status-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 3));
  background: yellow;
}

/* line 17, C:/Git/ai/sass/layout/_status-bar.scss */
.status-bar-item {
  background: white;
  font-family: monospace;
  text-align: center;
  border: 1px solid red;
  transition: 1s;
}

/* line 1, C:/Git/ai/sass/layout/_side-screen.scss */
.side-screen-container {
  position: absolute;
  top: 5vh;
  left: 65vw;
  width: 35vw;
  height: 95vh;
}

/* line 8, C:/Git/ai/sass/layout/_side-screen.scss */
.side-screen-container .side-screen {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 31.66667vh;
}

/* line 16, C:/Git/ai/sass/layout/_side-screen.scss */
.side-screen-container .side-screen-1 {
  background: rgba(166, 230, 244, 0.25);
  -webkit-clip-path: polygon(100% 0, 100% 15%, 95% 30%, 95% 70%, 100% 85%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 15%, 95% 30%, 95% 70%, 100% 85%, 100% 100%, 0 100%, 0 0);
}

/* line 21, C:/Git/ai/sass/layout/_side-screen.scss */
.side-screen-container .side-screen-2 {
  background: rgba(166, 230, 244, 0.15);
  -webkit-clip-path: polygon(100% 0, 100% 15%, 95% 30%, 95% 70%, 100% 85%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 15%, 95% 30%, 95% 70%, 100% 85%, 100% 100%, 0 100%, 0 0);
}

/* line 26, C:/Git/ai/sass/layout/_side-screen.scss */
.side-screen-container .side-screen-3 {
  background: rgba(166, 230, 244, 0.25);
}

/* line 7, C:/Git/ai/sass/layout/_main-screen-1.scss */
.main-action-screen-1 {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 60vw;
  height: 90vh;
  overflow-y: auto;
  padding: 1%;
  color: white;
  opacity: 0.75;
  transition: 0.25s;
}

/* line 17, C:/Git/ai/sass/layout/_main-screen-1.scss */
.main-action-screen-1:hover {
  opacity: 1;
}

/* line 22, C:/Git/ai/sass/layout/_main-screen-1.scss */
.screen-title {
  font-family: "printer", monospace;
  padding: 0 1%;
  font-size: 14px;
  text-shadow: 0 0 10px white;
  background-image: linear-gradient(45deg, rgba(47, 137, 190, 0.75) 95%, transparent 1px);
  color: white;
  border-bottom: 1px solid #256c95;
  border-top-left-radius: 10px;
}

/* line 33, C:/Git/ai/sass/layout/_main-screen-1.scss */
.text-content {
  padding: 1%;
  font-family: "circo", "Calibri";
  font-size: 22px;
  letter-spacing: 1px;
  background-image: linear-gradient(-225deg, rgba(166, 230, 244, 0.1) 95%, transparent 1px);
  border-bottom-left-radius: 10px;
}

/* line 2, C:/Git/ai/sass/components/_audio-player.scss */
.audio-player-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  background: pink;
}

/**
 * Current date + time display
 */
/**
 * Last commands section
 */
/* line 7, C:/Git/ai/sass/components/_last-commands.scss */
.last-command-container .last-command-list {
  padding: 1%;
  font-size: 100%;
}

/* line 12, C:/Git/ai/sass/components/_last-commands.scss */
.last-command-container .last-command-item:nth-child(odd) {
  color: green;
  background: white;
  font-size: 100%;
}

/* line 18, C:/Git/ai/sass/components/_last-commands.scss */
.last-command-container .last-command-title {
  color: grey;
}

/* line 23, C:/Git/ai/sass/components/_last-commands.scss */
.last-command-container li {
  list-style: none;
}

/* line 2, C:/Git/ai/sass/components/_listening-status.scss */
.listening-status {
  text-align: right;
}

/* line 5, C:/Git/ai/sass/components/_listening-status.scss */
.listening-status > * {
  display: inline-block;
}

/* line 10, C:/Git/ai/sass/components/_listening-status.scss */
.status-led {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
}

/* line 18, C:/Git/ai/sass/components/_listening-status.scss */
.status-listening {
  background: green;
  animation: listening 2s ease-in-out infinite;
  transform: scale(0.7);
}

@keyframes listening {
  0% {
  }
  25% {
    transform: scale(1);
  }
  100% {
  }
}

/* line 32, C:/Git/ai/sass/components/_listening-status.scss */
.status-away {
  background: orange;
  animation: away 2s ease-in-out infinite;
  transform: scale(0.9);
}

@keyframes away {
  0% {
  }
  25% {
    transform: scale(1);
  }
  100% {
  }
}

/* line 46, C:/Git/ai/sass/components/_listening-status.scss */
.status-processing {
  background: blue;
  box-shadow: 0 0 20px 20px red;
}

/* line 51, C:/Git/ai/sass/components/_listening-status.scss */
.status-shut-down {
  background: transparent;
}

/* line 1, C:/Git/ai/sass/components/_location-display.scss */
.location-display {
  font-size: 10px;
}

/* line 5, C:/Git/ai/sass/components/_location-display.scss */
.location-map {
  width: 100%;
  height: 300px;
  opacity: 0.75;
  transition: 0.25s;
}

/* line 11, C:/Git/ai/sass/components/_location-display.scss */
.location-map:hover {
  opacity: 1;
}

/* line 16, C:/Git/ai/sass/components/_location-display.scss */
.side-screen {
  overflow-Y: auto;
}

/* line 20, C:/Git/ai/sass/components/_location-display.scss */
.map-details {
  position: absolute;
  top: 100px;
  left: 0;
  padding: 1%;
  font-family: monospace;
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px 0 black, 0 0 5px black;
  background: rgba(255, 255, 255, 0.5);
  transition: 0.1s;
}

/* line 34, C:/Git/ai/sass/components/_location-display.scss */
.map-details:hover {
  font-size: 1.5em;
}

/* line 1, C:/Git/ai/sass/components/_manual-command.scss */
.manual-input {
  position: absolute;
  bottom: 0;
  left: 5vw;
  width: 60vw;
  height: 5vh;
}

/* line 9, C:/Git/ai/sass/components/_manual-command.scss */
#command-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 2em;
  background: rgba(255, 255, 255, 0.05);
  font-family: monospace;
}

/* line 4, C:/Git/ai/sass/components/_notepad.scss */
.note-title {
  display: block;
  background: purple;
  font-size: 2em;
}

/* line 10, C:/Git/ai/sass/components/_notepad.scss */
.note-content {
  display: inline-block;
  background: white;
}

/* line 15, C:/Git/ai/sass/components/_notepad.scss */
.last-line-note {
  background: red;
}

/* line 1, C:/Git/ai/sass/components/_webcamera.scss */
.webcam-video-container {
  width: 100%;
  max-height: 100%;
  background: yellow;
  overflow: auto;
}

/* line 10, C:/Git/ai/sass/components/_webcamera.scss */
.stream-video {
  max-width: 100%;
  max-height: 300px;
  overflow: hidden;
  background: red;
}

/* line 17, C:/Git/ai/sass/components/_webcamera.scss */
.webcam-buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
}

/* line 29, C:/Git/ai/sass/components/_webcamera.scss */
.stream-button {
  padding: 0;
  margin: 0;
  display: inline-block;
  border: none;
  outline: none;
}

/* line 25, C:/Git/ai/sass/style.scss */
.tempbox {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 5vw;
  height: 95vh;
  background: rgba(255, 255, 255, 0.05);
}

/* line 35, C:/Git/ai/sass/style.scss */
.display-module-item {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  line-height: 2em;
  font-family: monospace;
  font-size: 10px;
  color: white;
  margin-bottom: 2%;
  padding: 10% 5%;
}

/*# sourceMappingURL=../style.map */