/**
 * Structure
 */
/**
 * General layout rules + Overall structure
 */
/* line 4, C:/Git/ai/sass/base/_base.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 12, C:/Git/ai/sass/base/_base.scss */
body {
  width: 100vw;
  font-size: 20px;
}

/* line 18, C:/Git/ai/sass/base/_base.scss */
.container {
  width: 100vw;
  height: 100vh;
}

/**
 * Status bar and its elements
 */
/* line 4, C:/Git/ai/sass/layout/_status-bar.scss */
.status-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 3));
  background: yellow;
}

/* line 17, C:/Git/ai/sass/layout/_status-bar.scss */
.status-bar-item {
  background: white;
  font-family: monospace;
  text-align: center;
  border: 1px solid red;
  transition: 1s;
}

/* line 24, C:/Git/ai/sass/layout/_status-bar.scss */
.status-bar-item:after {
  display: block;
  position: absolute;
  top: 0;
  content: "";
  border-top: 1.25rem solid red;
  border-right: 1.25rem solid green;
  border-bottom: 1.25rem solid black;
  border-left: 1.25rem solid yellow;
}

/* line 1, C:/Git/ai/sass/layout/_side-screen.scss */
.side-screen-container {
  position: absolute;
  top: 5vh;
  left: 65vw;
  width: 35vw;
  height: 95vh;
  background-color: darkorchid;
}

/* line 10, C:/Git/ai/sass/layout/_side-screen.scss */
.side-screen-container .side-screen {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 31.66667vh;
}

/* line 18, C:/Git/ai/sass/layout/_side-screen.scss */
.side-screen-container .side-screen-1 {
  background-color: darkgoldenrod;
}

/* line 21, C:/Git/ai/sass/layout/_side-screen.scss */
.side-screen-container .side-screen-2 {
  background-color: darkolivegreen;
}

/* line 24, C:/Git/ai/sass/layout/_side-screen.scss */
.side-screen-container .side-screen-3 {
  background-color: darkorange;
}

/* line 1, C:/Git/ai/sass/layout/_main-screen-1.scss */
.main-action-screen-1 {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 60vw;
  height: 60vh;
  overflow-y: auto;
  background: blue;
}

/* line 1, C:/Git/ai/sass/layout/_main-screen-2.scss */
.main-action-screen-2 {
  position: absolute;
  top: 65vh;
  left: 5vw;
  width: 60vw;
  height: 35vh;
  background-color: hotpink;
}

/* line 2, C:/Git/ai/sass/components/_audio-player.scss */
.audio-player-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  background: pink;
}

/**
 * Current date + time display
 */
/**
 * Last commands section
 */
/* line 7, C:/Git/ai/sass/components/_last-commands.scss */
.last-command-container .last-command-list {
  padding: 1%;
  font-size: 100%;
}

/* line 12, C:/Git/ai/sass/components/_last-commands.scss */
.last-command-container .last-command-item:nth-child(odd) {
  color: green;
  background: white;
  font-size: 100%;
}

/* line 18, C:/Git/ai/sass/components/_last-commands.scss */
.last-command-container .last-command-title {
  color: grey;
}

/* line 23, C:/Git/ai/sass/components/_last-commands.scss */
.last-command-container li {
  list-style: none;
}

/* line 2, C:/Git/ai/sass/components/_listening-status.scss */
.listening-status {
  text-align: right;
}

/* line 5, C:/Git/ai/sass/components/_listening-status.scss */
.listening-status > * {
  display: inline-block;
}

/* line 10, C:/Git/ai/sass/components/_listening-status.scss */
.status-led {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
}

/* line 18, C:/Git/ai/sass/components/_listening-status.scss */
.status-listening {
  background: green;
  animation: listening 2s ease-in-out infinite;
  transform: scale(0.7);
}

@keyframes listening {
  0% {
  }
  25% {
    transform: scale(1);
  }
  100% {
  }
}

/* line 32, C:/Git/ai/sass/components/_listening-status.scss */
.status-away {
  background: orange;
  animation: away 2s ease-in-out infinite;
  transform: scale(0.9);
}

@keyframes away {
  0% {
  }
  25% {
    transform: scale(1);
  }
  100% {
  }
}

/* line 46, C:/Git/ai/sass/components/_listening-status.scss */
.status-processing {
  background: blue;
  box-shadow: 0 0 20px 20px red;
}

/* line 51, C:/Git/ai/sass/components/_listening-status.scss */
.status-shut-down {
  background: transparent;
}

/* line 1, C:/Git/ai/sass/components/_location-display.scss */
.location-display {
  font-size: 10px;
}

/* line 5, C:/Git/ai/sass/components/_location-display.scss */
.location-map {
  width: 100%;
  height: 250px;
}

/* line 10, C:/Git/ai/sass/components/_location-display.scss */
.side-screen {
  overflow-Y: auto;
}

/* line 4, C:/Git/ai/sass/components/_notepad.scss */
.note-title {
  display: block;
  background: purple;
  font-size: 2em;
}

/* line 10, C:/Git/ai/sass/components/_notepad.scss */
.note-content {
  display: inline-block;
  background: white;
}

/* line 15, C:/Git/ai/sass/components/_notepad.scss */
.last-line-note {
  background: red;
}

/* line 1, C:/Git/ai/sass/components/_webcamera.scss */
.webcam-video-container {
  width: 100%;
  max-height: 100%;
  background: yellow;
  overflow: auto;
}

/* line 10, C:/Git/ai/sass/components/_webcamera.scss */
.stream-video {
  max-width: 100%;
  max-height: 300px;
  overflow: hidden;
  background: red;
}

/* line 17, C:/Git/ai/sass/components/_webcamera.scss */
.webcam-buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
}

/* line 29, C:/Git/ai/sass/components/_webcamera.scss */
.stream-button {
  padding: 0;
  margin: 0;
  display: inline-block;
  border: none;
  outline: none;
}

/* line 22, C:/Git/ai/sass/style.scss */
.tempbox {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 5vw;
  height: 95vh;
  background: green;
}

/*# sourceMappingURL=../style.map */