.notepad-container {
}

  .note-title {
  display: block;
  background: purple;
  font-size: 2em;
  }

.note-content {
  display: inline-block;
  background: white;
  }

.last-line-note {
  //display: none;
  background: red;
  }