/**
 * General layout rules + Overall structure
 */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

body {
  width: $full-width;
  font-size: 20px; // base font size
  background-color: #061526;

//  font-family: "";
  }

// Everything is contained within this element
.container {
  width: $full-width;
  height: $full-height;
  opacity: 1;
  }

#draggable2 {
  width: 100%;
  padding: 0.5em;
  margin: 0 10px 10px 0;
  cursor: move;
  border: 1px solid transparent;
  background: transparent;

  &:hover {
    background: rgba(255,255,255,0.2);
    border: 1px solid blue;
    }
  }
