.grid-container {
  z-index: -50;
  }

.grid-col-container {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(10, calc(100% / 10));
  }

.grid-row-container {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-template-rows: repeat(10, calc(100% / 10));
  }

.grid-col {}

.grid-row {
  border: 1px dotted rgba(255,255,255,0.045);
  }

.grid-title {
  position: absolute;
  width: 100vw;
  top: (100vh / 3);
  text-align: center;
  
  color: rgba(255,255,255,0.05);
  font-family: "rektek", sans-serif;

  text-shadow:
    0 0 100px rgba(255,255,255,0.015);
  font-size: 1000%;
  
}